<div class="card">
  <div class="card-header">
    <h3>Immo List</h3>
  </div>

  <div class="card-body">
    <!--      DEBUT         -->
    <div class="row">
      <div
        class="card align-items-center"
        style="width:400px; margin: 5px"
        *ngFor="let item of data"
      >
        <img
          class="card-img-top center"
          [src]="item.pictureUrl"
          [title]="item.adress"
          [style.width.px]="'200'"
          [style.height.px]="'200'"
          [style.margin.px]="'5'"
        />
        <div class="card-body text-center">
          <h4 class="card-title">{{ item.adress }}</h4>
        
        
          <h2 class="card-text">
            {{ item.price | currency: "EUR":"symbol":"1.2-2" }}
          </h2>
          <a class="btn btn-primary"> Show Details </a>
        </div>
      </div>
    </div>
    <!--      FIN         -->
    <table class="table">
      <thead>
        <tr>
          <th>Adress</th>
          <th>pPictureUrl</th>
          <th>Price</th>
          <th>Surface</th>
          <th>Contact</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let item of data">
          <td>{{ item.adress }} <ngb-datepicker></ngb-datepicker></td>
          <td><img [src]="item.pictureUrl" [width]="width" /></td>
          <td>{{ item.price }}</td>
          <td>{{ item.surfaceArea }}</td>
          <td>{{ item.contact }}</td>
        </tr>
      </tbody>
    </table>

    <h4 class="card-title">Title</h4>

    <p class="card-text">Text</p>
  </div>
</div>
